<!--  <div class="ga jumbotron"> -->

 <div id="fullpage">
     <div class="section">Some section</div>
     <div class="section">
         <div class="slide"> Slide 1 </div>
         <div class="slide"> Slide 2 </div>
         <div class="slide"> Slide 3 </div>
         <div class="slide"> Slide 4 </div>
     </div>
     <div class="section">Some section</div>
     <div class="section">Some section</div>
 </div>


 <!-- <img src="/css/images/homepage_two.png"> -->
<!-- <div class="title">
 <h1>Baby Bag</h1> 
    <p>"Buy yourself some time- with baby bag"</p>
    <p><a class="btn btn-primary btn-lg" ui-sref-active="active" ui-sref="register">Register</a></p>
  </div>
  </div>
 -->