<section>
<h1>Baby Bag</h1>    
  This is content for home page.
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
  <h2>Page Content</h2>
  <div class="bg"></div>
  <div class="jumbotron">
    <h1>Bootstrap Jumbotron</h1>
    <p class="lead">+ Parallax Effect using jQuery</p>
  </div>
 <h2>Second lot of Page Content</h2>
 <div class="bg"></div>
 <div class="jumbotron">
   <h1>Bootstrap Jumbotron</h1>
   <p class="lead">+ Parallax Effect using jQuery</p>
 </div>

  <div class="container">
    <div class="row">
      <h2>Page Content</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
      Aliquam in felis sit amet augue.
      <br>

  
    <hr>
    <div class="row">
      <h2>Page Content</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
      Aliquam in felis sit amet augue.
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
        <div class="col-md-12 text-center"><p>The End.</p></div>
      </div>
  </div>


</section>