<section>
<div  class="login" ng-show="!users.isLoggedIn()">
<!-- <div class="form-group"> -->
<form class="form-horizontal" id="authorize" ng-submit="users.authorize()">
  <label for="email" class="col-sm-2 control-label">Email:</label>
  <div class="col-sm-10">
  <input type="text" name="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="users.user.email">
    </div>
  
  <div class="form-group">
  <label  for="inputPassword3" class="col-sm-2 control-label">Password:</label>
  <div class="col-sm-10">
  <input type="password" name="password" placeholder="Password" class="form-control" id="inputPassword3" ng-model="users.user.password">
  </div>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" value="Login" class="btn btn-default">Login</button>
      </div>
    </div>
  </form>
  </div>




<div ng-show="users.isLoggedIn()"><h1>Hello {{users.user.firstname}}</h1><p><br> Welcome to Baby Bag - how can we help you (and you're little one) today? </br></p><br><p> Here are some of our latest products we think you might like: </br></p></div>


<!-- fourth section - Information -->
<div ng-show="users.isLoggedIn()">
<div id="information" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



</section>