<section>
<div class="register" ng-show="!users.isLoggedIn()">
  <form id="join" ng-submit="users.join()">
  <h3>Sign Up</h3>
  <br>
    <label for="username">User name</label>
    <input type="text" name="username" placeholder="Username" ng-model="users.user.username">
</br>
<label for="email">Email</label>
<input type="text" name="email" placeholder="Email" ng-model="users.user.email">

<br>
    <label for="First name">First Name</label>
    <input type="text" name="firstname" placeholder="First name" ng-model="users.user.firstname">
    </br>
    <br>
    <label for="street">Street Address</label>
    <input type="text" name="street" placeholder="Your street address" ng-model="users.user.street">
    </br>
    <br>
    <label for="city">City</label>
    <input type="text" name="city" placeholder="What city do you live in?" ng-model="users.user.city">
    </br>
    <br>
    <label for="postcode">Postcode</label>
    <input type="text" name="status" placeholder="Your postcode?" ng-model="users.user.postcode">
    </br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" ng-model="users.user.password">
    </br>
    <br>
    <label for="twopassword">Re-Enter Password</label>
    <input type="password" name="password" placeholder="Re-Entered-Password" ng-model="users.user.twopassword">
    </br>
    <br>
    <!-- <li><input type="submit" ng-click="productViewController.addToCart()" /></li> -->
    <input type="submit" value="Register">
    </br>
  </form>
  </div>



<div ng-show="users.isLoggedIn()"><h1>Hello {{users.user.firstname}}</h1><p><br> Welcome to Baby Bag - how can we help you (and you're little one)? </br></p><br><p> Here are some of our latest products we think you might like: </br></p></div>


<!-- fourth section - Information -->
<div ng-show="users.isLoggedIn()">
<div id="information" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



</section>



