<section>
  <h3>Sign Up</h3>
  <form id="join" ng-submit="users.join()">
  <br>
    <label for="username">User name</label>
    <input type="text" name="username" placeholder="Username" ng-model="users.user.username">
</br>
<label for="email">Email</label>
<input type="text" name="email" placeholder="Email" ng-model="users.user.email">

<br>
    <label for="First name">First Name</label>
    <input type="text" name="firstname" placeholder="First name" ng-model="users.user.firstname">
    </br>
    <br>
    <label for="street">Street Address</label>
    <input type="text" name="street" placeholder="Your street address" ng-model="users.user.street">
    </br>
    <br>
    <label for="city">City</label>
    <input type="text" name="city" placeholder="What city do you live in?" ng-model="users.user.city">
    </br>
    <br>
    <label for="postcode">Postcode</label>
    <input type="text" name="status" placeholder="Your postcode?" ng-model="users.user.postcode">
    </br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" ng-model="users.user.password">
    </br>
    <br>
    <label for="twopassword">Re-Enter Password</label>
    <input type="password" name="password" placeholder="Re-Entered-Password" ng-model="users.user.twopassword">
    </br>
    <br>
    <input type="submit" value="Register">
    </br>
  </form>

</section>